/* DEVELOPER: Sajid Chowdhury, IS117-102, Spring 2024 */
/* Title CSS */
.title {
    background-color: #9C04FF;
    color: white;
    font-size: 50px;
    padding: 10px 100px 10px 0;
    width: 550px;
    margin: 2% 1%;
}

/* Contact section CSS */
.contact {
    background-color: #D683FF;
    width: 90%;
    margin: 0 auto;
}

.box1 {
    background-color: white;
    margin-top: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.box2 {
    margin-top: 2%;
    margin-bottom: 2%;
    position: relative;
    left: 10%;
    right: 10%;
}

.contactinfo {
    background-color: white;
    padding: 2% 5% 2% 5%;
    width: 25%;
    float: left;
    margin-bottom: 2%;
}

.social_title {
    background-color: white;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 5%;
}

.social div {
    margin-left: 2%;
    float: left;
    width: 50%;
}


.socialpage a {
    float: left;
    margin: 2% 7% 2% 7%;
    position: relative;
    left: 50%;

}

.middle {
    margin: 2% auto;
}

.box3 {
    clear: left;
    margin-bottom: 2%;
    background-color: white;
    padding-top: 2%;
    padding-bottom: 2%;
}

/* Submit Button CSS */
.btn {
    background-color: #9C04FF !important;
}


/* media css */


@media only screen and (max-width: 1400px) {

    .contactinfo {

    }

    .socialpage a {
        margin: 2% 5% 2% 5%;
        left: 45%;

    }
}

@media only screen and (max-width: 1200px) {

    .contactinfo {
        min-width: 350px;
    }


    .socialpage a {
        left: 50%;
        margin: 2% 3% 2% 3%;
    }
}

@media only screen and (max-width: 990px) {

    .contactinfo {
        float: none;
        margin: 2% auto;
        width: 100%;
    }


    .socialpage a {
        left: 0;
        margin: 2% 10% 2% 10%;
        clear: left;
        width: 0;
    }

    .social div {
        float: left;
        margin: 0 0 2% 0;
        width: 100%;

    }

    .box2 {

        left: 0;
        right: 0;
    }

    .title {
        font-size: 35px;
        padding: 10px 100px 10px 0;
        width: 400px;
        margin: 2% 1%;
    }
}


