/* DEVELOPER: Sajid Chowdhury, IS117-102, Spring 2024 */
/* Title css */
.title_gallery {
    text-align: center;
    font-size: 400%;
    margin: 1% 0;
}

/* carousel css */

#gallery {
    width: 50%;
    position: relative;
    left: 25%;
}

.img3 {
    height: 300% !important;
}

.carousel-indicators {
    width: 75%;
}

/* movie section homepage css */

.gallery_picture {
    background-color: #9C04FF;
    color: white;
    font-size: 50px;
    padding: 10px 300px 10px 0;
    width: 300px;
}

.movie_2, .show_2 {
    margin: 0 10%;
}

/* media css */

@media only screen and (max-width: 1200px) {

    .movie_2, .show_2 {
        margin: 1% 0;
    }

    #gallery {
        width: calc(12px + 60vw);
        position: relative;
        left: 20%;
    }

    .card {
        width: 13rem !important;
    }

}


@media only screen and (max-width: 800px) {

    #gallery {
        width: calc(20px + 70vw);
        position: relative;
        left: 0;
    }

}